<div>
    <h1 style="margin-bottom: 10px;">$reportname</h1>

    <table>
        <tr style="color: #ffffff; background-color: #5b9bd5">
            <th style="width: 80px">Тип задачи</th>
            <th style="width: 60px">Код</th>
            <th style="width: 250px">Тема</th>
            <th style="width: 140px">Исполнитель</th>
            <th style="width: 140px">Автор</th>
            <th style="width: 70px">Приоритет</th>
            <th style="width: 70px">Статус</th>
            <th style="width: 70px">Решение</th>
            <th style="width: 80px">Создано</th>
            <th style="width: 80px">Обновлено</th>
            <th style="width: 80px">Срок исполнения</th>
            <th style="width: 80px">Количество дней просрока</th>
            <th style="width: 100px">ДЗК</th>
            <th style="width: 100px">Метки</th>
            <th style="width: 80px">Дата решения</th>
        </tr>

        #set ($isStyled = 0)
        #foreach( $reportline in $reportdata )
            #if ($isStyled == 0)
                #set ($isStyled = 1)
                <tr style="background-color: #ddebf7">
            #else
                #set ($isStyled = 0)
                <tr>
            #end
                <td>$reportline.issueType</td>
                <td><a href="#">$reportline.issueNumber</a></td>
                <td>$reportline.summary</td>
                <td>$reportline.assignee</td>
                <td>$reportline.reporter</td>
                <td>$reportline.priority</td>
                <td>$reportline.status</td>
                <td>$reportline.resolution</td>
                <td>$reportline.createDate</td>
                <td>$reportline.updateDate</td>
                <td>$reportline.execDate</td>
                <td style="text-align: center;">$reportline.exceedDays</td>
                <td>$reportline.department</td>
                <td>$reportline.labels</td>
                <td>$reportline.resolutionDate</td>
            </tr>
        #end

##        <tr style="background-color: #ddebf7">
##            <td>ИТ-Поддержка</td>
##            <td><a href="#">TEL-853</a></td>
##            <td>Звонок Быстрых Юлии Сергеевне</td>
##            <td>Быстрых Юлия Сергеевна</td>
##            <td>Кочурова Елена Сергеевна</td>
##            <td>Medium</td>
##            <td>Открытый</td>
##            <td>Нет решения</td>
##            <td>17.09.2021</td>
##            <td>17.09.2021</td>
##            <td>17.09.2021</td>
##            <td style="text-align: center;">1</td>
##            <td>Call центр</td>
##            <td>Перезвонить</td>
##            <td>17.09.2021</td>
##        </tr>
##        <tr>
##            <td>ИТ-Поддержка</td>
##            <td><a href="#">TEL-853</a></td>
##            <td>Звонок Быстрых Юлии Сергеевне</td>
##            <td>Быстрых Юлия Сергеевна</td>
##            <td>Кочурова Елена Сергеевна</td>
##            <td>Medium</td>
##            <td>Открытый</td>
##            <td>Нет решения</td>
##            <td>17.09.2021</td>
##            <td>17.09.2021</td>
##            <td>17.09.2021</td>
##            <td style="text-align: center;">1</td>
##            <td>Call центр</td>
##            <td>Перезвонить</td>
##            <td>17.09.2021</td>
##        </tr>
##        <tr style="background-color: #ddebf7">
##            <td>ИТ-Поддержка</td>
##            <td><a href="#">TEL-853</a></td>
##            <td>Звонок Быстрых Юлии Сергеевне</td>
##            <td>Быстрых Юлия Сергеевна</td>
##            <td>Кочурова Елена Сергеевна</td>
##            <td>Medium</td>
##            <td>Открытый</td>
##            <td>Нет решения</td>
##            <td>17.09.2021</td>
##            <td>17.09.2021</td>
##            <td>17.09.2021</td>
##           <td style="text-align: center;">1</td>
##            <td>Call центр</td>
##            <td>Перезвонить</td>
##            <td>17.09.2021</td>
##        </tr>

    </table>
</div>