
<html>
    <head>
        <meta name="decorator" content="atl.admin"/>
        <meta name="admin.active.section" content="admin_plugins_menu/setup-issuereport"/>

        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-buttons")
        $webResourceManager.requireResourcesForContext("issuereport")

    </head>

    <body class="aui">
        <h2>Настройка расписаний отчетов</h2>

        <div class="aui-buttons" style="margin: 16px 0 0 0;">
            <button class="aui-button">Добавить расписание</button>
        </div>

        <table class="aui">
            <thead>
                <tr>
                    <th id="basic-number">#</th>
                    <th id="basic-name">Отчет</th>
                    <th id="basic-users">Пользователи</th>
                    <th id="basic-sheds">Расписание</th>
                    <th id="basic-active">Включено</th>
                    <th id="basic-edit"></th>
                    <th id="basic-test"></th>
                    <th id="basic-del"></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td headers="basic-number">1</td>
                    <td headers="basic-name">Тестовый отчет</td>
                    <td headers="basic-users">user1@xx.com user2@xx.com</td>
                    <td headers="basic-sheds">0 0 0 1 1/3 *</td>
                    <td headers="basic-active">
                        <aui-toggle id="change-active"></aui-toggle>
                    </td>
                    <td headers="basic-edit">
                        <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Insert meaningful text here for accessibility</span>
                    </td>
                    <td headers="basic-test">
                        <span class="aui-icon aui-icon-small aui-iconfont-email">Insert meaningful text here for accessibility</span>
                    </td>
                    <td headers="basic-del">
                        <span class="aui-icon aui-icon-small aui-iconfont-trash">Insert meaningful text here for accessibility</span>
                    </td>
                </tr>
                <tr>

                <tr>
                    <td headers="basic-number">2</td>
                    <td headers="basic-name">Тестовый отчет</td>
                    <td headers="basic-users">user1@xx.com user2@xx.com</td>
                    <td headers="basic-sheds">0 0 0 1 1/3 *</td>
                    <td headers="basic-active">
                        <aui-toggle id="change-active"></aui-toggle>
                    </td>
                    <td headers="basic-edit">
                        <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Insert meaningful text here for accessibility</span>
                    </td>
                    <td headers="basic-test">
                        <span class="aui-icon aui-icon-small aui-iconfont-email">Insert meaningful text here for accessibility</span>
                    </td>
                    <td headers="basic-del">
                        <span class="aui-icon aui-icon-small aui-iconfont-trash">Insert meaningful text here for accessibility</span>
                    </td>
                </tr>
                <tr>

                <tr>
                    <td headers="basic-number">3</td>
                    <td headers="basic-name">Тестовый отчет</td>
                    <td headers="basic-users">user1@xx.com user2@xx.com</td>
                    <td headers="basic-sheds">0 0 0 1 1/3 *</td>
                    <td headers="basic-active">
                        <aui-toggle id="change-active"></aui-toggle>
                    </td>
                    <td headers="basic-edit">
                        <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Insert meaningful text here for accessibility</span>
                    </td>
                    <td headers="basic-test">
                        <span class="aui-icon aui-icon-small aui-iconfont-email">Insert meaningful text here for accessibility</span>
                    </td>
                    <td headers="basic-del">
                        <span class="aui-icon aui-icon-small aui-iconfont-trash">Insert meaningful text here for accessibility</span>
                    </td>
                </tr>
                <tr>

            </tbody>
        </table>



    </body>

</html>