
<html>
    <head>
        <meta name="decorator" content="atl.admin"/>
        <meta name="admin.active.section" content="admin_plugins_menu/setup-issuereport"/>

##        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-iconography")

        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-buttons")
        $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
        $webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
        $webResourceManager.requireResourcesForContext("issuereport")

    </head>

    <body class="aui">

#############################################
##    форма редактирования
#############################################

        <section id="task-edit-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true" style="width: 640px;">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Описание действия</h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>

            <div class="aui-dialog2-content task-edit-content">
                <form class="aui">

                    ## эти переменные нужны для того чтобы определить режим открытия формы
                    ## add - добавить запись
                    ## edit - редактировать
                    <input id="editmode" type="hidden" name="editmode">
                    <input id="tasknumber" type="hidden" name="tasknumber">

                    <div>
                        <label for="editname">Название</label>
                        <input class="text large-field" id="editname" type="text" name="name">
                    </div>

                    <div>
                        <label for="editfilterstring">Запрос</label>
                        <input class="text large-field" id="editfilterstring" type="text" name="filterstring">
                    </div>

                    <div>
                        <label for="editslaid">SLA</label>
                        <input class="text large-field" id="editslaid" type="text" name="slaid">
                    </div>

                    <div>
                        <label for="editshedtime">Время</label>
                        <input class="text large-field" id="editshedtime" type="text" name="shedtime">
                    </div>

                    <div>
                        <label for="editisactive">Активно</label>
                        <aui-toggle id="editisactive" label="editisactive"></aui-toggle>
                    </div>

                    <div>
                        <label for="edituser">Пользователь</label>
                        <input class="text large-field" id="edituser" type="text" name="user">
                    </div>

                    <div style="margin-top: 20px">
                        <label for="receiveruser">Добавить получателя</label>
                        <input class="text large-field" id="receiveruser" type="text" name="receiveruser">
                    </div>

                    <div class="aui-buttons" style="padding-left: 160px;">
                        <button id="add-user-button" class="aui-button aui-button-primary">Добавить</button>
                    </div>


                    <div>
                        <label for="receivers">Получатели</label>
                        <select class="multi-select" size="6" multiple="multiple" id="receivers" name="receivers">
##                            <option>option one</option>
##                            <option>option two</option>
##                            <option>option three</option>
##                            <option>option four</option>
##                            <option>option five</option>
##                            <option>option six</option>
                        </select>

                    </div>

                    <div class="aui-buttons" style="padding-left: 160px;">
                        <button id="remove-user-button" class="aui-button aui-button-primary">Удалить</button>
                        <button id="clear-user-button" class="aui-button aui-button-primary">Очистить</button>
                    </div>


                </form>
            </div>

            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="edit-submit-button" class="aui-button aui-button-primary">OK</button>
                    <button id="check-submit-button" class="aui-button aui-button-link">Проверить</button>
                    <button id="edit-cancel-button" class="aui-button aui-button-link">Отмена</button>
                </div>
            </footer>
        </section>
#############################################


#############################################
##      форма предварительного просмотра отчета
#############################################
        <section id="show-demo-dialog" class="aui-dialog2 aui-dialog2-large aui-layer" style="width: 90%;" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Предварительный просмотр отчета</h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>

            <div id="demo-content" class="aui-dialog2-content show-demo-content">
##                Тут будет содержимое
            </div>

            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="show-submit-button" class="aui-button aui-button-primary">Закрыть</button>
                </div>
            </footer>
        </section>
#############################################


#############################################
## окно подтверждения удаления
#############################################
        <section id="delete-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Удаление отчета</h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>

            </header>

            <input id="deletenumber" type="hidden" name="deletenumber">

            <div class="aui-dialog2-content">
                <div id="deleted-report">
                    user1 user2 user3 .....
                </div>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="delete-dialog-confirm" class="aui-button aui-button-primary">Удалить</button>
                    <button id="delete-dialog-cancel" class="aui-button aui-button-link">Отмена</button>
                </div>
            </footer>
        </section>
#############################################


        <h2>Настройка отчетов</h2>

        <form class="aui">
            <h3>Расписание планировщика</h3>

##            <div class="field-group" style="margin: 20px 0 0 0;">
##                <label for="curr-shed"></label>
##                <input class="text large-field" style="font-size: 22px;" type="text" id="curr-shed" name="curr-shed" value="0 17 12 * * ?" readonly>
##                <span id="next-time">
####                    <aui-badge>19</aui-badge>
##                </span>
##            </div>

            <div class="field-group">
                <label for="new-shed">Введите новое расписание
##                    <span class="aui-icon icon-required">(required)</span>
                </label>
                <input class="text large-field" type="text" id="new-shed" name="new-shed" placeholder="* * * * *">
                <span id="next-time">
                ##                    <aui-badge>19</aui-badge>
                </span>
                <div class="description">0 17 12 * * ? - ежедневно в 12.17</div>

                <div class="buttons-container">
                    <div class="aui-buttons">
                        <button id="button-sheduler-save" class="aui-button aui-button aui-button-primary">Сохранить</button>
                    </div>
                </div>
            </div>



            <h3>Поле отчета "ДЗК"</h3>
            <div class="field-group">
                <label for="dzk-field">идентификатор поля дзк</label>
                <input class="text large-field" type="text" id="dzk-field" name="dzk-field" placeholder="">
##                <div class="description">идентификатор поля дзк</div>
##                дзк 10608

                <div class="buttons-container">
                    <div class="aui-buttons">
                        <button id="button-dzk-save" class="aui-button aui-button aui-button-primary">Сохранить</button>
                    </div>
                </div>

            </div>

         </form>





        <form class="aui">
            <h3>Запланированные отчеты</h3>


            <div class="aui-buttons" style="margin: 16px 0 0 0;">
                <button id="button-add" class="aui-button aui-button aui-button-primary">Добавить отчет</button>
            </div>

            <table id="reports-setup" class="aui">
                <thead>
                    <tr>
                        <th id="basic-number">#</th>
                        <th id="basic-name">Отчет</th>
                        <th id="basic-users">Пользователь</th>
                        <th id="basic-sheds">Время формирования</th>
                        <th id="basic-active">Включено</th>
                        <th id="basic-edit"></th>
                        <th id="basic-view"></th>
                        <th id="basic-test"></th>
                        <th id="basic-del"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td headers="basic-number">1</td>
                        <td headers="basic-name">Тестовый отчет</td>
                        <td headers="basic-users">user1@xx.com</td>
                        <td headers="basic-sheds">17,21</td>
                        <td headers="basic-active">
                            <aui-toggle id="change-active" label="change-active"></aui-toggle>
                        </td>
                        <td headers="basic-edit" style="cursor: pointer">
                            <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Edit</span>
                        </td>
                        <td headers="basic-view" style="cursor: pointer">
                            <span class="aui-icon aui-icon-small aui-iconfont-screen">View</span>
                        </td>
                        <td headers="basic-test" style="cursor: pointer">
                            <span class="aui-icon aui-icon-small aui-iconfont-email">Test</span>
                        </td>
                        <td headers="basic-del" style="cursor: pointer">
                            <span class="aui-icon aui-icon-small aui-iconfont-trash">Delete</span>
                        </td>
                    </tr>

##                    <tr>
##                        <td headers="basic-number">2</td>
##                        <td headers="basic-name">Тестовый отчет</td>
##                        <td headers="basic-users">user1@xx.com</td>
##                        <td headers="basic-sheds">0 0 0 1 1/3 *</td>
##                        <td headers="basic-active">
##                            <aui-toggle id="change-active"></aui-toggle>
##                        </td>
##                        <td headers="basic-edit" style="cursor: pointer">
##                            <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Edit</span>
##                        </td>
##                        <td headers="basic-view" style="cursor: pointer">
##                            <span class="aui-icon aui-icon-small aui-iconfont-screen">View</span>
##                        </td>
##                        <td headers="basic-test" style="cursor: pointer">
##                            <span class="aui-icon aui-icon-small aui-iconfont-email">Test</span>
##                        </td>
##                        <td headers="basic-del" style="cursor: pointer">
##                            <span class="aui-icon aui-icon-small aui-iconfont-trash">Delete</span>
##                        </td>
##                    </tr>


                </tbody>
            </table>
        </form>


    </body>

</html>